<navigation></navigation>

<div class="row">
    <div ng-controller="TodayCtrl" class="col-xs-9">
        <h2>{{today.topic.title}}</h2>

        <h3>出来事</h3>
        <ul>
            <li ng-repeat="event in today.topic.events"
                ng-show="show($index, today.topic.events.length, 3)">
                {{event}}
            </li>
        </ul>
        <h3>誕生日</h3>
        <ul>
            <li ng-repeat="person in today.topic.persons"
                ng-show="show($index, today.topic.persons.length, 5)">
                {{person}}
            </li>
        </ul>

        <h3>記念日</h3>
        <ul>
            <li ng-repeat="anniversary in today.topic.anniversaries"
                ng-show="show($index, today.topic.anniversaries.length, 3)">
                <span>{{anniversary.title}}</span><br />
                <span>{{anniversary.description}}</span>
            </li>
        </ul>
    </div>

    <div ng-controller="ListMenuCtrl" class="col-xs-3">
        <div class="list-group">
            <a href="#/list/1/1"
               ng-repeat="topic in topics"
               ng-click="changeToday($index)"
               ng-class="{'list-group-item': true, 'active': isActive($index)}">
                {{topic.title}}
            </a>
        </div>
    </div>
</div>
